$success-color: #2cbe4e;
$error-color: #cb2431;
$link-color: #0366d6;
$background-gray: #fafbfc;

.segment a {
  text-decoration: none;
  color: inherit;
}

.layout-container {
  margin-top: 32px;
  text-align: center;
}

.segment {
  transition: color 0.2s;
}

.container {
  background: $background-gray;
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.5s, padding 0.5s;
}

.slash {
  color: rgba(18, 18, 18, 0.56);
  font-weight: bold;
  margin: 0 3px;
}

.loading {
  color: #c2c2c2;
}

.success {
  color: $success-color;
  cursor: pointer;
}

.part-of-link {
  color: $link-color;
}

.success-background {
  background: $success-color;
}

.error-background {
  background: $error-color;
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: calc(50% - 20px / 2);
  top: calc(50% - 20px / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.not-found {
  color: $error-color;
}

.bar {
  position: absolute;
  height: 4px;
  top: calc(70% - 2px);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.5s;
}

.success-bar {
  background: $success-color;
  left: 0;
  width: 0;
  transition: right 0.3s, opacity 0.5s;
}

$loading-bar-width: 20px;
$loading-bar-height: 5px;

.loading-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: calc(70% - #{$loading-bar-height} / 2);
  opacity: 0;
  transition: opacity 0.5s;
}

.spacer {
  width: 5px;
}

.loading-bar {
  background: #e8e8e8;
  width: $loading-bar-width;
  height: $loading-bar-height;
}

.loading-bar-1 {
  animation: 0.9s linear infinite loading-bar-flash;
}
.loading-bar-2 {
  animation: 0.9s linear 0.3s infinite loading-bar-flash;
}
.loading-bar-3 {
  animation: 0.9s linear 0.6s infinite loading-bar-flash;
}

@keyframes loading-bar-flash {
  0% {
    background: #e8e8e8;
  }

  100% {
    background: #868686;
  }
}

.show {
  &.container {
    height: 80px;
    padding: 10px;
  }

  .icon,
  .bar,
  .loading-container {
    opacity: 1;
  }
}
